.zrthsw {
    position: absolute;
    top: 26%;
    left: 6%;
    right: 62%;
    bottom: 39%;
    outline: none;
}

.mfsdz {
    position: absolute;
    top: 42%;
    left: 6%;
    right: 62%;
    bottom: 20%;
    outline: none;
}

.khgxl {
    position: absolute;
    top: 60%;
    left: 6%;
    right: 62%;
    bottom: 3%;
    outline: none;
}

.ssdj {
    position: absolute;
    top: 26%;
    left: 39%;
    right: 34%;
    bottom: 39%;
    outline: none;
}

.dqzl {
    position: absolute;
    top: 42%;
    left: 39%;
    right: 34%;
    bottom: 20%;
    outline: none;
}

.fxtq {
    position: absolute;
    top: 60%;
    left: 39%;
    right: 34%;
    bottom: 3%;
    outline: none;
}

.xxfx {
    position: absolute;
    top: 26%;
    left: 68%;
    right: 4%;
    bottom: 39%;
    outline: none;
}

.zxzl {
    position: absolute;
    top: 42%;
    left: 68%;
    right: 4%;
    bottom: 20%;
    outline: none;
}

.dlnl {
    position: absolute;
    top: 60%;
    left: 68%;
    right: 4%;
    bottom: 3%;
    outline: none;
}
