.nqfx {
    position: absolute;
    top: 26%;
    left: 6%;
    right: 63%;
    bottom: 39%;
    outline: none;
}

.yxdzlx {
    position: absolute;
    top: 42%;
    left: 6%;
    right: 63%;
    bottom: 20%;
    outline: none;
}

.cwxz {
    position: absolute;
    top: 60%;
    left: 6%;
    right: 63%;
    bottom: 3%;
    outline: none;
}

.fszq {
    position: absolute;
    top: 26%;
    left: 38%;
    right: 30%;
    bottom: 39%;
    outline: none;
}

.pxxl {
    position: absolute;
    top: 42%;
    left: 38%;
    right: 30%;
    bottom: 20%;
    outline: none;
}

.wysqmb {
    position: absolute;
    top: 60%;
    left: 38%;
    right: 30%;
    bottom: 3%;
    outline: none;
}

.tshd {
    position: absolute;
    top: 26%;
    left: 70.5%;
    right: 4%;
    bottom: 39%;
    outline: none;
}

.ljdz {
    position: absolute;
    top: 42%;
    left: 70.5%;
    right: 4%;
    bottom: 20%;
    outline: none;
}

.drhd {
    position: absolute;
    top: 60%;
    left: 70.5%;
    right: 4%;
    bottom: 3%;
    outline: none;
}
