.sjxl {
    position: absolute;
    top: 78%;
    left: 26%;
    right: 55%;
    bottom: 18%;
    outline: none;
}

.tjxl {
    position: absolute;
    top: 78%;
    left: 45%;
    right: 36%;
    bottom: 18%;
    outline: none;
}

.stjh {
    position: absolute;
    top: 78%;
    left: 65%;
    right: 16%;
    bottom: 18%;
    outline: none;
}

.qsam {
    position: absolute;
    top: 84%;
    left: 26%;
    right: 55%;
    bottom: 12%;
    outline: none;
}

.ztbdhd {
    position: absolute;
    top: 84%;
    left: 45%;
    right: 30%;
    bottom: 12%;
    outline: none;
}

.bdfwtt {
    position: absolute;
    top: 84%;
    left: 70%;
    right: 6%;
    bottom: 12%;
    outline: none;
}

.mfdz {
    position: absolute;
    top: 90%;
    left: 26%;
    right: 55%;
    bottom: 5.5%;
    outline: none;
}

.aqfw {
    position: absolute;
    top: 90%;
    left: 45%;
    right: 36%;
    bottom: 5.5%;
    outline: none;
}

.krl {
    position: absolute;
    top: 90%;
    left: 65%;
    right: 20%;
    bottom: 5.5%;
    outline: none;
}

.czl {
    position: absolute;
    top: 84%;
    left: 10%;
    right: 67%;
    bottom: 10%;
    outline: none;
}

.czl1 {
    position: absolute;
    top: 76%;
    left: 45%;
    right: 32%;
    bottom: 16.5%;
    outline: none;
}

.index_video {
    position: absolute;
    top: 30.5%;
    left: 6%;
    right: 6%;
    bottom: 28%;
    outline: none;
}

.yj {
    position: absolute;
    top: 44%;
    left: 39.5%;
    right: 41%;
    bottom: 40%;
    outline: none;
}
