
.sjxl {
    position: absolute;
    top: 26%;
    left: 6%;
    right: 70%;
    bottom: 39%;
    outline: none;
}

.tjxl {
    position: absolute;
    top: 42%;
    left: 6%;
    right: 70%;
    bottom: 20%;
    outline: none;
}

.stjh {
    position: absolute;
    top: 60%;
    left: 6%;
    right: 70%;
    bottom: 3%;
    outline: none;
}

.qsam {
    position: absolute;
    top: 26%;
    left: 34%;
    right: 34%;
    bottom: 39%;
    outline: none;
}

.ztbdhd {
    position: absolute;
    top: 42%;
    left: 34%;
    right: 34%;
    bottom: 20%;
    outline: none;
}

.bdfwtt {
    position: absolute;
    top: 60%;
    left: 34%;
    right: 34%;
    bottom: 3%;
    outline: none;
}

.mfdz {
    position: absolute;
    top: 42%;
    left: 70%;
    right: 4%;
    bottom: 20%;
    outline: none;
}

.aqfw {
    position: absolute;
    top: 60%;
    left: 70%;
    right: 4%;
    bottom: 3%;
    outline: none;
}

.krl {
    position: absolute;
    top: 26%;
    left: 70%;
    right: 4%;
    bottom: 39%;
    outline: none;
}

/*.czl {
    position: absolute;
    top: 46.5%;
    left: 10%;
    right: 67%;
    bottom: 49%;
    outline: none;
}

.czl1 {
    position: absolute;
    top: 85%;
    left: 45%;
    right: 32%;
    bottom: 10%;
    outline: none;
}

.index_video {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 60%;
    outline: none;
}

.yj {
    position: absolute;
    top: 20%;
    left: 39.5%;
    right: 41%;
    bottom: 68%;
    outline: none;
}*/
