.zsxl {
    position: absolute;
    top: 26%;
    left: 6%;
    right: 70%;
    bottom: 39%;
    outline: none;
}

.xsxl {
    position: absolute;
    top: 42%;
    left: 6%;
    right: 70%;
    bottom: 20%;
    outline: none;
}

.cjxl {
    position: absolute;
    top: 60%;
    left: 6%;
    right: 70%;
    bottom: 3%;
    outline: none;
}

.ztbdhd {
    position: absolute;
    top: 26%;
    left: 33%;
    right: 34%;
    bottom: 39%;
    outline: none;
}

.zdfwtt {
    position: absolute;
    top: 42%;
    left: 33%;
    right: 34%;
    bottom: 20%;
    outline: none;
}

.fsxl {
    position: absolute;
    top: 60%;
    left: 33%;
    right: 34%;
    bottom: 3%;
    outline: none;
}

.mzxq {
    position: absolute;
    top: 26%;
    left: 68%;
    right: 4%;
    bottom: 39%;
    outline: none;
}

.pygl {
    position: absolute;
    top: 42%;
    left: 68%;
    right: 4%;
    bottom: 20%;
    outline: none;
}

.jwxl {
    position: absolute;
    top: 60%;
    left: 68%;
    right: 4%;
    bottom: 3%;
    outline: none;
}
